path('', views.index, name= 'index'),   #To be put in urls.py

def index(request):           #To be put in views.py
    test_variable = '2nd time also successful'
    key1_context = {'key1': test_variable}
    other_context = {
        'test1': "successful",
        'test2': "successful",
        'test3': "successful",
        "successful_counter": 3,
    }
    return render(request, 'index.html', {**key1_context, **other_context})


path('', views.word_counter, name= 'word_counter'),
path('count', views.count, name= 'count')

def word_counter(request):
    return render(request, 'word_counter.html')

def count(request):
    text= request.POST['text']
    number_of_words= len(text.split())
    return render(request, 'count.html', {'number': number_of_words})

{% load static %}

<link rel= "stylesheet" type="text/css" href= "{% static 'style.css' %}">
<link rel= "stylesheet" href= "{% static 'abhirang.css' %}">

<span class="abhirang">Abhirang</span>